body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: wheat;
}

header {
    background-color: maroon;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 2em;
    text-align: center;
}

main h2 {
    margin-bottom: 1em;
}

form {
    display: inline-block;
    text-align: left;
    margin-top: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color:maroon;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header h1 {
    margin: 0;
    margin-left: 50px;
    margin-right: 50px;
}
header ol {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 50px;
    margin-right: 50px;
}
header ol li {
    margin-left: 20px;
}
header ol li a {
    text-decoration: none;
    color: white;
}